

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}



.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-bottom2 {
	-webkit-animation: slide-in-bottom 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.slide-in-top {
	-webkit-animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

@-webkit-keyframes slide-in-bottom2{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom2{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}


@-webkit-keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}


html {
  scroll-behavior: smooth;
}

body { 
    margin: 0;
    font-family: 'Switzer', sans-serif;    
    overflow-x: hidden;
}

.hero-section {
    height: 920px;
    background: radial-gradient(ellipse at 0% 100%, #5B1FA6 5%, #EBEFFF 60%);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 150%;
    padding: 0px 40px 120px 40px;
}


/* Nav Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.nav-links a {
    font-family: 'Satoshi', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(114, 114, 114); 
}

.nav-links a:hover {
    color:rgb(0, 0, 0)
}


.button-link {
  font-size: 1rem;
  color: rgb(255, 255, 255) !important;
  font-weight: bold;
  padding: 10px 15px;
  background-color: #000000;
  border: none;
  border-radius: 15px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.button-link:hover {
  box-shadow: 0 0 20px #3a0086, 0 0 40px #3a0086;
  transform: translateY(-2px) !important;
}


/* Hero Layout */
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 3rem;
    padding-top: 60px;
    border: 3px solid rgba(0, 128, 0, 0);
}

.hero-text {
    max-width: 500px;
    flex: 1;
    color: black;
}

.hero-text h1 {
    padding-bottom: 10px;
    font-size: 75px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 40px;

    background: linear-gradient(180deg, #000000 50%, #6D34B8); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.hero-text p {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #000000;
}

.hero-buttons {
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
}

.hero-container a {
    font-family: 'Satoshi', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    color: rgb(0, 0, 0); 
}

.hero-container .button-link {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px 15px 10px 15px;
    background-color: #000000;
    border: none;
    border-radius: 15px;
    
}

.feature-section {
    padding: 0px 40px 120px 40px;
    height: 920px;
    background: linear-gradient(to bottom, 	#ffffff 50%, #E2D1FF);
}

.feature-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px auto;
    height: 165px;
    width: 90%;
    text-align: center;
    border: 3px solid rgba(0, 128, 0, 0);
}

.feature-text {
    max-width: 550px;
    position: relative;
    flex: 1;
    color: black;
}

.feature-title {
    font-size: 45px;
    font-weight: 540;
    margin-bottom: -9px;
}

.feature-subtitle {
    font-size: 19px;
    font-family: 'Satoshi', sans-serif;
}

.steps-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 3px solid rgba(0, 0, 0, 0);
    max-width: 1200px;
    max-height: 275px;
    gap: 20px;
    margin: 100px auto 0 auto;
}

.step-box { 
    text-align: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
    padding: 20px;
    border: 3px solid rgba(255, 0, 0, 0);
}


/* Demo page */
.demo-section-1 {
    height: 920px;
    padding: 0px 40px 120px 40px;
    background: linear-gradient(to bottom, 	#ffffff 50%, #E2D1FF);
    border: 3px solid rgba(255, 0, 0, 0);
}


.demo-hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    height: 165px;
    width: 90%;
    text-align: center;
    border: 3px solid rgba(0, 128, 0, 0);
}

.demo-hero-text {
    max-width: 550px;
    position: relative;
    flex: 1;
    color: black;
}

.demo-hero-title {
    font-size: 45px;
    font-weight: 540;
    margin-bottom: -9px;
    background: linear-gradient(180deg, #000000 25%, #6D34B8); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.demo-hero-subtitle {
    font-size: 19px;
    font-family: 'Satoshi', sans-serif;
}

.demo-button-link {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding: 10px 15px 10px 15px;
    background-color: #000000;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.demo-button-link:hover {
    box-shadow: 0 0 20px #3a0086, 0 0 40px #3a0086;
    transform: translateY(-2px) !important;
}



/* Key Generator Section */
.key-generator-section {
    height: 920px;
    padding: 0px 40px 120px 40px;
    background-color: #ffffff;
    border: 3px solid rgba(255, 0, 0, 0);
}

.key-gen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    height: 190x;
    width: 1200px;
    border: 3px solid rgba(38, 0, 128, 0);
    
}

.key-gen-text {
    max-width: 100%;
    position: relative;
    flex: 1;
    color: black;
    border: 3px solid rgba(128, 0, 0, 0);
}

.key-gen-title {
    font-size: 45px;
    font-weight: 540;
    margin-bottom: -9px;
    text-align: center;
}

.key-gen-subtitle {
    margin: 70px auto 0 auto;
    border: 3px solid rgba(0, 128, 0, 0);
    font-size: 19px;
    font-family: 'Satoshi', sans-serif;
    text-align: left;
    width: 60%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
    padding: 20px;
    border: 3px solid rgba(255, 0, 0, 0);
    
}

.key-box {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 3px solid rgba(255, 0, 0, 0);
    width: fit-content; 
    gap: 20px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}



.key-row {
    display: flex;
    flex-direction: row; /* input and label side-by-side */
    align-items: flex-start; /* vertically align */
    justify-content: flex-start; 

    align-self: flex-start;
    margin: 0;

    font-size: 17px;
    font-family: 'Satoshi', sans-serif;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border: 3px solid #ff000000;
    border-radius: 10px;
    text-align: left;
    padding: 20px;
    width: fit-content; 
}

.key-row p {
    margin: 0;
    padding: 0;
}

.public-key-output, .private-key-output {
    font-size: 13px;
    font-family: 'Satoshi', sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0);

    padding: 10px;
    width: fit-content; 
    border-radius: 10px;
    min-width: 300px;
}

.next-row{
    display: flex;
    flex-direction: row; /* input and label side-by-side */
    align-items: center; /* vertically align */
    gap: 10px;
}

.next-step-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-decoration: none;
    font-family: 'Satoshi', sans-serif;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-weight: Bold;
    padding: 10px 15px 10px 15px;
    background-color: #000000;
    border: none;
    border-radius: 15px;
    border: 3px solid rgba(255, 6, 6, 0);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.next-step-button:hover {
  box-shadow: 0 0 20px  #3a0086, 0 0 40px #3a0086;
  transform: translateY(-2px) !important;
}


.generate-box {
    justify-content: start;
    width: fit-content; 
    margin: 50px;
    display: flex;
    flex-direction: row;
    border: 3px solid rgba(0, 0, 0, 0);
    margin-left: auto;
    margin-right: auto;
}

.generate-button {
    font-family: 'Satoshi', sans-serif;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-weight: Bold;
    padding: 10px 15px 10px 15px;
    background-color: #0057d5;
    border: none;
    border-radius: 15px;
    border: 3px solid rgba(255, 6, 6, 0);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}


.generate-button:hover {
  box-shadow: 0 0 20px #0832BD, 0 0 40px #0832BD;
  transform: translateY(-2px) !important;
}

/* Voting Section */
.voting-section {
    height: 920px;
    padding: 0px 40px 120px 40px;
    background-color: #ffffff;
    border: 3px solid rgba(255, 0, 0, 0);
}

.voting-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    height: 190x;
    width: 1200px;
    border: 3px solid rgba(38, 0, 128, 0);
}

.voting-text {
    max-width: 100%;
    position: relative;
    flex: 1;
    color: black;
    border: 3px solid rgba(128, 0, 0, 0);
}

.voting-title {
    font-size: 45px;
    font-weight: 540;
    margin-bottom: -9px;
    text-align: center;
}

.voting-subtitle {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    font-size: 19px;
    font-family: 'Satoshi', sans-serif;
    width: 60%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
    padding: 20px;
    border: 3px solid rgba(255, 0, 0, 0);
}

.voting-form { 
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: left;
    border: 3px solid rgba(255, 0, 0, 0);
    width: fit-content; 
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.form-row {
    display: flex;
    flex-direction: row; /* input and label side-by-side */
    align-items: center; /* vertically align */
    gap: 10px;
}

input:not([type="checkbox"]), select {
    font-size: 15px;
    font-family: 'Satoshi', sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0);

    padding: 10px;
    width: fit-content; 
    border-radius: 10px;
    min-width: 300px;
}

input[type=checkbox]  { 
    font-size: 15px;
    font-family: 'Satoshi', sans-serif;
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0);
}


.submit-row{
    display: flex;
    flex-direction: row; /* input and label side-by-side */
    align-items: center; /* vertically align */
    gap: 10px;
}

.submit-button {
    font-family: 'Satoshi', sans-serif;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-weight: Bold;
    padding: 10px 15px 10px 15px;
    background-color: #1B9C43;
    border: none;
    border-radius: 15px;
    border: 3px solid rgba(255, 6, 6, 0);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.submit-button:hover {
  box-shadow: 0 0 20px #1B9C43, 0 0 40px #1B9C43;
  transform: translateY(-2px) !important;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}


@media (max-width: 768px) {
  .key-box, .voting-form {
    width: 100%;
    padding: 20px;
    align-items: stretch;
  }

  .key-row, .form-row, .submit-row {
    flex-direction: column;
    align-items: flex-start;
  }

  input, select {
    min-width: 100%;
  }
}
